.slider .btn-banner{
    background-color: rgb(144, 239, 252);
    height: 30px;
    width: 100px;
    color: rgb(0, 0, 0);     
    border-radius: 10%;
    margin-top: 20px;
}

.slider .btn-small {
    margin-top: 20px;    
}

/* .caption{
    color: brown;
} */