.navbarwall{
    background-color: transparent;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-repeat: unset;    
    font-size: 20px;
}

.textcolor{
    color: red;
}